@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --color-white:#FFFFFF;
    --color-gray:#e6e5e5;
    --color-yellow:#CCA43B;
    --color-blue:#303d50;
    --color-black:#363636;

    --transition: all 400ms ease;
    --container-width-lg:100%;
    --container-width-md:100%;
    --container-width-sm:100%;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
body{
    font-family: 'Poppins', sans-serif;
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}
.App{
    width: var(--container-width-lg);
    margin: 0 auto;
}
/* div{
    padding-top: 6rem;
} */
div > h2 , div > h5 , div > h3 ,section>h5{
    text-align: center;
}
div > h1, section > h1{
    text-align: center;
    color: var(--color-yellow);
}
.backgroung-gray{
    background-color: var(--color-gray);
}
a{
    color: var(--color-blue);
}
a:hover{
    color: var(--color-yellow);
}
.btn{
    width: max-content;
    display: inline-block;
    color:var(--color-blue) ;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-blue);
    transition: var(--transition);
}
.btn:hover{
    background: var(--color-blue);
}
.btn-main{
    border: 1px solid var(--color-yellow);
    background: var(--color-yellow);
}
section{
    min-height: 100vh;
    padding: 2rem;
    padding-top: 3rem;
    overflow: hidden;
}

@media screen and (max-width: 1024px){
    .App{
        width: var(--container-width-md);
    }
}
@media screen and (max-width: 600px){
    .App{
        width: var(--container-width-sm);
    }
    
}
