nav{
    background: rgba(0, 0, 0, 0.2);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}
nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
}
nav a:hover{
    background:rgba(0, 0, 0, 0.2) ;
}
nav a.active{
    background: #242F40;
    color: #CCA43B;
}
nav span{
    width: max-content;
    position: absolute;
    top: 0;
    transform: translateX(-25%);
    padding: 0.6rem;
    border-radius: 5%;
    background:rgba(0, 0, 0, 0.2) ;
    visibility: hidden; 
    opacity: 0;
    transition:opacity 0.5s ease;
}
.toolTip span:before{
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: rgba(0, 0, 0, 0.2) #0000 #0000 #0000  ;
}
.toolTip:hover span{
    top:-90%;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 1024px){
    .toolTip:hover span{
        visibility:hidden;
    }
}